.card {
    border-radius: 0.2rem;
    padding: 0.4rem 0.7rem;
    box-shadow: 0 0 0.5rem #12121221;
    background-color: #fff;
}
.card .ticket-id {
    color: #888a8f;
    font-size: 0.6rem;
    font-weight: 600;
}
.card .title {
    color: #282a2f;
    font-size: 0.70rem;  
    text-align: left;
    font-weight: 600;
    margin-top: 4px;    
}
.card .middle-container {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;    
}

.card .bottom-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.card .tag-container {
    display: flex;
    flex-direction: row;    
    gap: 0.3rem;
    border: 1px solid #edeff2;
    border-radius: 0.25rem;
    padding: 0 0.35rem;
    
}

.card .tag-icon {
    background-color: #bec2c8;
    border-radius: 9999px;
    height: 0.5rem;
    width: 0.5rem;
    margin-bottom: auto;
    margin-top: auto;
}
.card .tag-text {
    color: #82868c;
    font-size: 0.6rem;    
    padding-bottom: 2px;
    font-weight: 480;
}

.card .top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

.card .more-icon-container {
    display: grid;
    place-items: center;
    border: 1px solid #edeff2;
    border-radius: 0.25rem;
    padding: 0 0.3rem;   
}

.card svg {
    flex-shrink: 0;
}

@media screen and (max-width:700px) {
    .card {
        min-width: fit-content;
    }
}